<h1>Show user number <%=params[:id]%></h1>
<div id="<%=params[:id]%>" class="card">
  <div class="img"><img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"></div>
  <div class="info">
    <h2>User name</h2>
    <p>Number of posts: x</p>
  </div>
</div>
<div>
  <h2>Post #1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div>
  <h2>Post #2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div>
  <h2>Post #3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<button>See all posts</button>