/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 10px 20px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.card .info {
  border: 3px solid black;
  width: 70vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card .info p {
  align-self: flex-end;
}

.card .img {
  width: 30vw;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts button {
  width: fit-content;
  align-self: center;
  padding: 10px;
}

.bio,
.post {
  border: 3px solid black;
}

.hidden {
  display: none;
}
